<div class="p_bar_container bg_dark_blue">
  <span class="chart_head">Top Sales by Category</span>
  <div class="p_categ_info">
    <div class="p_info">
      <div class="p_cat">Laptop</div>
      <div class="p_sell_val">19.8k</div>
    </div>
    <div class="p_bar"></div>
  </div>

  <div class="p_categ_info">
    <div class="p_info">
      <div class="p_cat">Groceries</div>
      <div class="p_sell_val">19.8k</div>
    </div>
    <div class="p_bar"></div>
  </div>

  <div class="p_categ_info">
    <div class="p_info">
      <div class="p_cat">Cosmatics</div>
      <div class="p_sell_val">19.8k</div>
    </div>
    <div class="p_bar"></div>
  </div>

  <div class="p_categ_info">
    <div class="p_info">
      <div class="p_cat">Natures</div>
      <div class="p_sell_val">19.8k</div>
    </div>
    <div class="p_bar"></div>
  </div>

  <div class="p_categ_info">
    <div class="p_info">
      <div class="p_cat">Laptop</div>
      <div class="p_sell_val">19.8k</div>
    </div>
    <div class="p_bar bg-success"></div>
  </div>
</div>
