<app-carousel></app-carousel>
<app-category-filter></app-category-filter>
<div class="product_container row">
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
  <div class="col-3">
    <app-productcard></app-productcard>
  </div>
</div>
<app-footer></app-footer>
