<div class="card_con">
  <div class="card">
    <div class="card-body card_b">
      <div class="product_img">
        <img src="https://cdn.dummyjson.com/product-images/1/1.jpg" alt="" />
      </div>
      <div class="product_info">
        <h4 class="p_title">Producttitle</h4>
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quasi
          minu deserunt eum...<a>Show More</a>
        </p>
        <h6 class="text-success">Brand :Name</h6>
        <div class="product_price">
          <div class="price_detail">
            <h6>Price :$4</h6>
            <h6>Discount : 20% off</h6>
          </div>
          <h6>Rating : 5*****</h6>
        </div>
      </div>
      <div class="action_pro">
        <div class="btn_con">
          <button class="buy_button m-2">Buy</button>

          <button class="cart_button m-2">Add To Cart</button>
        </div>
        <i class="fa-regular fa-heart wish_list m-2" style="color: #225bbf"></i>
      </div>
    </div>
  </div>
</div>
