.side-container{
    height: 100% !important;
    /* background-color: aqua; */
    /* width:250px; */
    padding: 15px;
    border-radius: 0px;
    color: rgb(184, 206, 252);
    background-color: #031123;
    overflow-y: scroll;
 
}
.main_link{
    margin: 12px;

}

/* Define the transition for the sublinks */
.sublink ul {
   
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Transition effect */
}

/* Adjust max-height when the sublinks are active */
.sublink.active-sublink ul {
    
    max-height: 1000px; /* Set a sufficiently large value to cover the potential height of all sublinks */
}


.link_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.link_con span{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
.link_card{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    width: 107%;
    align-items: center;
}


.sublink li {
    font-size: 15px;
    padding: 5px;
}

.link_card:hover{
background-color:rgba(0,66,154,1);
}
.side_bottom{
    position: fixed;
    bottom: 0px;
    left: 10px;
    width: 245px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
   
}

/* Define scrollbar styles */
.side-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
   
}

/* Track styles */
.side-container::-webkit-scrollbar-track {
    background-color: #031123;
}

/* Handle styles */
.side-container::-webkit-scrollbar-thumb {
    background-color:rgba(0,66,154,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Handle hover styles */
.side-container::-webkit-scrollbar-thumb:hover {
    background-color:rgba(0,66,154,1);
}

@media screen and (max-width:768px) {
    .main_link{
        margin: 10px;
    
    }
    .link_con span{
      
        font-size: 15px;
     
    }
   
   
    .sublink li {
        font-size: 12px;

    }


}