<nav class="side-container card" [ngClass]="{ 'hidden-side': !visibleSidebar }">
  <div class="side_content">
    <h3 class="com_pany">EComm Service</h3>
    <span class="text-center"
      ><i class="fa-solid fa-circle" style="color: #16c533"></i> online</span
    >
    <div class="nav_link">
      <div class="main_link" *ngFor="let link of sideBarLinks">
        <div
          class="link_card"
          routerLink="{{ link.path }}"
          (click)="handleLink(link)"
        >
          <div class="link_con">
            <i [ngClass]="link?.icon"></i>
            <span class="link_">{{ link.title }}</span>
          </div>
          <i
            *ngIf="isLinkActive && link?.showSublink"
            class="fa-solid fa-arrow-right fa-rotate-90"
          ></i>
          <i *ngIf="!link?.showSublink" class="fa-solid fa-arrow-right"></i>
        </div>
        <ng-template [ngIf]="link?.sidebarSublinks">
          <div
            class="sublink"
            [ngClass]="{ 'active-sublink': link.showSublink }"
          >
            <ul>
              <li
                *ngFor="let sublink of link.sidebarSublinks"
                routerLink="{{ sublink.path }}"
              >
                {{ sublink.title }}
              </li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="side_bottom">
    <span>App Version 1.0 Develop By Vishal Sharma</span>
  </div>
</nav>
