.admin_home{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
}
.admin_side{
    background-color: gray;
    width: 250px;
    transition: width 0.3s ease;
}
.admin_side.hidden {
   
  width: 0px;
}
.admin_content{
    /* width: 100% ; */
    background-color: green;
    transition: width 0.3s ease;
}
.full_width{
    width: 100%;
}

