
.head_con{
    display: flex;
    justify-content: space-between;
    margin: 0px 12px;
  color: rgb(184, 206, 252);;
  padding: 15px 25px;
  border-radius: 0px;
  border: none;
  align-items: center;
}

.header_content{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    /* width: 350px; */
    
}

@media screen and (max-width: 768px) {

    .head_con{
        flex-direction: row-reverse;
        margin: 0px;
        width: 100%;
        justify-content: space-between;
        /* padding: 10px 15px; */
      
    }
    .header_content{
        font-size: 12px;
        width: 80%;
        flex-wrap: wrap;
    
    }
}

