<div class="footer_container">
  <div class="f_about">
    <h4>About Us</h4>
    <ul>
      <li>About Company</li>
      <li>Our Team</li>
      <li>Careers</li>
      <li>Contact Us</li>
      <li>Testimonials</li>
    </ul>
  </div>
  <div class="f_service">
    <h4>Services</h4>
    <ul>
      <li>Web Design</li>
      <li>Graphic Design</li>
      <li>SEO</li>
      <li>Marketing</li>
      <li>Content Writing</li>
    </ul>
  </div>
  <div class="f_resource">
    <h4>Resources</h4>
    <ul>
      <li>Blog</li>
      <li>FAQs</li>
      <li>Support</li>
      <li>Documentation</li>
      <li>Newsletter</li>
    </ul>
  </div>
</div>
<div class="dev_info">
  <h5>Developed By Vishal Sharma Version 1.0</h5>
</div>
