
body{
    
        font-family: "Archivo", sans-serif !important;
        font-optical-sizing: auto  !important;
        font-weight:400  !important;
        font-style: normal  !important;
        background-color:#00193B;
        
      
}
.bg_dark_blue {

    background-color:#031123 !important;;
}
